<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA_HQ7HEZNBCYY6U7LRy-qZYcdLUMQLGEg</string>
	<key>GCM_SENDER_ID</key>
	<string>916194041511</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.extended.resources</string>
	<key>PROJECT_ID</key>
	<string>extended-resources</string>
	<key>STORAGE_BUCKET</key>
	<string>extended-resources.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916194041511:ios:2a9f9f4bb502dee2800582</string>
</dict>
</plist>